<br />
<div class="bg-dark p-3 pl-4 pr-4l">
  <ul>
    <li class="display-inline-block"><a class="text-decoration-none text-white" href="/">Home •</a></li>
    <li class="display-inline-block"><a class="text-decoration-none text-white" href="https://ion.educlick.page">Docs •</a></li>
    <li class="display-inline-block"><a class="text-decoration-none text-white" href="https://www.educlick.page">Educlick</a></li>
    <li class="mt-1"><span class="text-white op-2">from educlick</span></li>
  </ul>
</div>