<div class="nav clearfix bg-white container-fluid p-2 fixed-top" style="border-bottom: 1px solid #ddd">
<center>
<div class="container">
<div class="border-box text-left pr-2">
  <div class="float-right" style="padding-top: 7px;"><app-icons icon="menu" onclick="toggleVisibility('#navmore')"></app-icons></div>
  <b class="display-inline-block p-2" style="padding-top: 12px">Ion Js Project</b>
</div>
<div class="nav-more text-left p-4 w-10 border-box fixed-top" onclick="toggleVisibility('#navmore')" style="background: var(--ion--bg-transparent); height: 100%; z-index: 999" id="navmore">
  <div class="bg-white container p-2 b-1 b-solid border-light br-2">
    <div class="p-1 pt-3">
<a class="text-decoration-none text-dark" href="/">Link one</a>
<br><br>
<a class="text-decoration-none text-dark" href="/">Link two</a>
    </div>
  </div>
</div>
</div>
</center>
</div>
<br /><br /><br />