<app-nav></app-nav>
<center>
<div class="container-fluid p-5">
  <div class="container p-4">
    <h1 style="font-size: 27px">Build your site, fast with ionjs</h1>
    <p class="op-3" style="font-size: 13px;">A better way to code from educlick, made to make your website even <code>better</code> and <code>faster</code> than ever before.</p>
    <a href="https://ion.educlick.page" style="font-size: 12px" type="button" class="btn btn-dark text-decoration-none display-block mt-2">Go To Docs</a>
    <p class="op-3" style="font-size: 13px;">Version <b class="p-1 b-1 pl-1 pr-1 br-3">0.1.6</b></p>
  </div>
</div>
<div class="container-fluid text-left bg-dark p-5">
  <div class="container p-4">
    <h2 class="text-white op-5">Features included</h2>
    <p class="text-white op-2">Component registery, Ioncomponents, Ajax function, Dom functions, module maps and even more </p>
  </div>
</div>
<div class="container-fluid text-left p-5">
  <div class="container p-4">
    <h2 class="text-dark op-5">Why We</h2>
    <p class="text-dark op-2">Made lightweight and compact ionjs offers you a much speedy environment for your website and comes with various ways to make you code faster and way easier, while we do the complex thing you don't have do nothing more than designing your site. and with a rapid updations and bug fixes we think that ion js is more better than others.</p>
  </div>
</div>
</center>
<app-footer></app-footer>