<app-nav></app-nav>
<center>
<div class="content">
  <div class="container-fluid bg-black min-h-full p-6 pt-9 pb-10" style="background-image: url('/assets/wave.svg'); background-repeat: no-repeat;background-position: bottom;">
    <h1 class="text-white text-2xl lg:text-3xl">We Design We Deliver</h1>
    <br />
    <p class="text-white text-opacity-50">looking for a developer? we're here to develop design and edit. At the lowest prices.</p>
    <a type="button" class="btn text-decoration-none text-white bg-green-700 p-1 rounded-xl mt-5 block max-w-xs hover:bg-transparent border-2 border-green-700 hover:text-green-700" href="/book">Contact</a>
  </div>
</div>
<div class="container text-white p-5 text-left">
  <h2 class="text-2xl p-2">Need Something Done?</h2>
  <br />
  <div class="flex items-center justify-center w-full">
  <div class="w-full">
    <div class="p-2 sm:w-full">
      <svg opacity="1.0" class="w-1/5 max-w-5" fill="#fff" viewBox="0 0 24 24"><path d="M14.016 6V3.984H9.985V6h4.031zm6 0c1.125 0 1.969.891 1.969 2.016v10.969c0 1.125-.844 2.016-1.969 2.016H3.985c-1.125 0-1.969-.891-1.969-2.016V8.016C2.016 6.891 2.86 6 3.985 6h4.031V3.984c0-1.125.844-1.969 1.969-1.969h4.031c1.125 0 1.969.844 1.969 1.969V6h4.031z"/></svg>
      <br />
      <h2 class="text-xl">Post A Job</h2>
      <p class="text-white text-opacity-80">It’s free and easy to post a job. Simply fill in a title, description and competitive bids come within minutes.</p>
    </div>
    <div class="p-2 sm:w-full">
      <svg fill="#fff" opacity="1.0" class="w-1/5 max-w-5" viewBox="0 0 512 512"><path d="M124.3 400H277c14.4 0 14.4.1 21.3 5.2S384 464 384 464v-64h3.7c42.2 0 76.3-31.8 76.3-71.4V119.7c0-39.6-34.2-71.7-76.3-71.7H124.3C82.2 48 48 80.1 48 119.7v208.9c0 39.6 34.2 71.4 76.3 71.4z"/></svg>
      <br />
      <h2 class="text-xl">Letting Us Know More</h2>
      <p class="text-white text-opacity-80">Within 2 - 24 hours our team will contact you for futher information about the gig.</p>
    </div>
    <div class="p-2 sm:w-full">
      <svg fill="#fff" opacity="1.0" class="w-1/5 max-w-5" viewBox="0 0 24 24"><path class="w-1/5 max-w-5" fill="none" d="M0 0h24v24H0z"/><path class="w-1/5 max-w-5" d="M7 10H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1zm7-4h-4a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm7 5h-4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1z" fill="#ffffff"/></svg>
      <br />
      <h2 class="text-xl">Doing Your Job</h2>
      <p class="text-white text-opacity-80">Our team will work on your project let you know when it is ready and will send you a copy of it </p>
    </div>
    <div class="p-2 sm:w-full">
      <svg fill="#ffffff" opacity="1.0" class="w-1/5 max-w-5" viewBox="0 0 24 24"><path d="M20.016 8.016V6H3.985v2.016h16.031zm0 9.984v-6H3.985v6h16.031zm0-14.016c1.125 0 1.969.891 1.969 2.016v12c0 1.125-.844 2.016-1.969 2.016H3.985c-1.125 0-1.969-.891-1.969-2.016V6c0-1.125.844-2.016 1.969-2.016h16.031z"/></svg>
      <br />
      <h2 class="text-xl">Secure Paying</h2>
      <p class="text-white text-opacity-80">if you like the work you'll have to pay for the work securily and then youll get the original file of it.</p>
    </div>
  </div>
  </div>
</div>
<div class="container-fluid bg-white text-dark text-left">
  <div class="container p-6">
    <h2 class="text-xl">Who Are We</h2>
    <p>We are a team of developers, designers and editors. Who can help you create your dream site, and more.</p>
  </div>
</div>
<div class="container-fluid text-white text-left">
  <div class="container p-6">
    <h2 class="text-xl text-center">Pricing</h2>
    <br />
    <div class="mt-2 p-3 bg-gray-900 border rounded-xl">
      <h3 class="texr-lg">Logo Designing</h3>
      <p class="text-opacity-50">starts from 2$</p>
    </div>
    <div class="mt-2 p-3 bg-gray-900 border rounded-xl">
      <h3 class="texr-lg">Photo Editing</h3>
      <p class="text-opacity-50">starts from 2$</p>
    </div>
    <div class="mt-2 p-3 bg-gray-900 border rounded-xl">
      <h3 class="texr-lg">Web Development</h3>
      <p class="text-opacity-50">starts from 3$</p>
    </div>
    <div class="mt-2 p-3 bg-gray-900 border rounded-xl">
      <h3 class="texr-lg">Video Editing</h3>
      <p class="text-opacity-50">starts from 5$</p>
    </div>
    <div class="mt-2 p-3 bg-gray-900 border rounded-xl">
      <h3 class="texr-lg">Designing web/app</h3>
      <p class="text-opacity-50">starts from 5$</p>
    </div>
  </div>
</div>
<div class="container-fluid text-white">
  <div class="bg-green-900 p-6">
    <h2 class="text-xl">Has Any Queries</h2>
    <p>Still have questions contact us now</p>
    <a type="button" class="btn text-decoration-none text-green-900 bg-white p-1 rounded-xl mt-5 block max-w-xs hover:bg-transparent border-2 border-white hover:text-white" href="/book">Contact</a>
  </div>
</div>
</center>
<app-footer></app-footer>